.products {
  background: #0f0f0f;
  padding: 10% 2%;
  text-align: center;
}

.section {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-column-gap: 20px;
}

.arrows {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.arrows:hover,
.arrows:focus {
  opacity: 1;
}

@media (max-width: 576px) {
  .products {
    padding: 10%;
  }
  .arrows {
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }
}
