.team {
  background: #0f0f0f;
  padding: 0 10% 10% 10%;
}

.wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3vw;
}

.space {
  margin-top: 50px;
}

@media (max-width: 576px) {
  .team {
    padding: 10%;
  }
  .arrows {
    width: 25px;
    height: 25px;
    opacity: 0.5;
  }
}
